
@font-face {
    font-family: "gf";
    src: url(fonts/Valentiny.ttf);
}

@font-face {
    font-family: "gf2";
    src: url(fonts/Biscuits\ Delight.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imgs/fondo.png);
    background-attachment: fixed;
    background-position: center;
}

/*header*/

header{
    margin: 10px;
    border-radius: 20px;
    display: flex;
    background: #c5cfd8;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 15);
}

.logo-img{
    width: 120px;
}


.logo{
    text-align: center; 
    margin: auto;
    color: #000;
    font-size: 70px;
    font-family: "gf";
    font-weight: 100;

}

/*headerend*/

/*main*/

main {
    font-family: "gf2";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.slider-container {
    width: 90%;
    max-width: 600px;
    position: relative;
}


.slide {
    min-width: 100%; 
    }

.slide img {
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    display: block;
   /* border: 2px solid #000;*/
}

/*mainend*/

/*footer*/


footer{
    background: #c5cfd8;
    border-top: 5px solid;
}


footer .content{
    display: block;
}

.img1-footer{
    width: 220px;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: block;
}

.txt{
    margin: 10px;
    color: black;
    font-family: "gf2";
    text-align: center;
}

.txt2{
    margin: 12px;
    color: #000000;
    font-family: "gf2";
    text-align: center;
}


footer .bottom-details{
    text-align: center;
    background: #000000;
}
footer .bottom-details .bottom_text{
    padding: 20px;
}
.bottom-details .bottom_text span{
    font-family: monospace;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
}

/*footerend*/

/*responsive*/


@media screen and (max-width:768px) {

    header{
        margin-bottom: 30px;
    }

    .logo-img{
        display: none;
    }

    .logo{
        font-size: 50px;
    }
    
    .slider-container{
        width: 60%;

    }
}



@media screen and (max-width:750px) {

    .img1-footer{
        width: 190px;
    }
    
}


@media screen and (max-width:570px) {

    header{
        margin-bottom: 30px;
    }

    .logo{
        font-size: 40px;
    }
    
    .slider-container{
        width: 60%;

    }

    .img1-footer{
        width: 150px;
    }

    .txt{
        font-size: 20px;
    }

    .txt2{
        font-size: 15px;
    }


}

@media screen and (max-width:490px) {

    header{
        margin-bottom: 30px;
        background: transparent;
        box-shadow: none;
    }

    .logo-img{
        display: none;
    }

    .logo{
        padding-top: 20px;
        font-size: 40px;
        color: aliceblue;
    }
    
    .slider-container{
        width: 60%;

    }
}

@media screen and (max-width:375px) {

    header{
        margin-bottom: 30px;
        background: transparent;
    }

    .logo-img{
        display: none;
    }

    .logo{
        padding-top: 20px;
        font-size: 35px;
        color: aliceblue;
    }
    
    .slider-container{
        width: 60%;

    }

    .img1-footer{
        width: 120px;
    }

    .txt{
        font-size: 18px;
    }

    .txt2{
        font-size: 12px;
    }

    .bottom-details .bottom_text span{
        font-size: 9px;
    }

}

